{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img/pesa.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <div class="login-container">
        <div class="image-container">
            <img src="{% static 'img/imagen.png' %}" alt="Imagen de inicio de sesión">
        </div>
        <div class="login-content">
            <h2>Iniciar sesión</h2>
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit">Iniciar Sesión</button>
            </form>
            <button type="button" onclick="window.location.href='/register'">Registrarme</button>
        </div>
        
    </div>
</body>
</html>

